.heading {
   background-image: url(https://shop.amplifiedhead.com/webshaper/pcm/pictures/Product%20Images/Grado/SR80e_Gallery1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   position: relative;
   text-align: center;
   float: center;
   color: white;
}
.float {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.about {
   display: flexbox;
   text-align: center;
   padding: 20px;
}
.service {
   display: flexbox;
   text-align: center;
   background-image: url(https://cdn.pocket-lint.com/r/s/970x/assets/images/151520-laptops-review-apple-macbook-air-2020-initial-review-keyboard-dreams-image1-ofvv27hfqc-jpg.webp);
   height: 500px;
   padding: 100px;
   padding-left: 250px;
}
.bg-text {
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
   color: white;
   font-weight: bold;
   border: 3px solid #f1f1f1;
   position: relative;
   z-index: 2;
   width: 80%;
   padding: 20px;
   text-align: center;
}
.contact {
   color: white;
   background-image: url(https://ryanwoodring.files.wordpress.com/2012/06/sugimoto-trylon-theatre-new-york-1976.jpg);
   height: 500px;
   padding: 250px;
   padding-top: 100px;
}
#name {
   width: 250px;
   background-color: transparent;
   color: white;
}
#email {
   width: 250px;
   background-color: transparent;
   color: white;
}
#messages {
   background-color: transparent;
   width: 500px;
   height: 250px;
   color: white;
}
.mess {
   padding: 20px;
}
img {
   font-weight: lighter;
}