.heading {
   background-image: url(https://shop.amplifiedhead.com/webshaper/pcm/pictures/Product%20Images/Grado/SR80e_Gallery1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   position: relative;
   text-align: center;
   float: center;
}
.float {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.about {
   display: flexbox;
   text-align: center;
}