.heading {
   background-image: url(https://shop.amplifiedhead.com/webshaper/pcm/pictures/Product%20Images/Grado/SR80e_Gallery1.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 500px;
   position: relative;
   text-align: center;
   float: center;
   color: white;
}
.float {
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.about {
   display: flexbox;
   text-align: center;
   padding: 20px;
}
.service {
   display: flexbox;
   text-align: center;
   background-image: url(https://cdn.pocket-lint.com/r/s/970x/assets/images/151520-laptops-review-apple-macbook-air-2020-initial-review-keyboard-dreams-image1-ofvv27hfqc-jpg.webp);
   height: 500px;
   padding: 100px;
   padding-left: 250px;
}
.bg-text {
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
   color: white;
   font-weight: bold;
   border: 3px solid #f1f1f1;
   position: relative;
   z-index: 2;
   width: 80%;
   padding: 20px;
   text-align: center;
}
.contact {
   color: white;
   background-image: url(https://ryanwoodring.files.wordpress.com/2012/06/sugimoto-trylon-theatre-new-york-1976.jpg);
   height: 500px;
   padding: 250px;
   padding-top: 100px;
}
#name {
   width: 250px;
   background-color: transparent;
   color: white;
}
#email {
   width: 250px;
   background-color: transparent;
   color: white;
}
#messages {
   background-color: transparent;
   width: 500px;
   height: 250px;
   color: white;
}
.mess {
   padding: 20px;
}
img {
   font-weight: lighter;
}


h1 {
    font-family: 'Akronim', cursive;
}
#service {
    background-image: url('../images/backgrounds/s_image.jpg');
    color: #fff;
    margin-bottom: 50px;
    background-position: center;
    padding-top: 120px;
    padding-bottom: 80px;
}

.hide {
    display: none;
}
.form-cont input {
    width: 49%;
    background: transparent;
}
.form-cont textarea {
    margin-top: 10px;
    width: 100%;
    background: transparent;
}
#contact {
    padding-top: 100px;
    margin-bottom: 50px;
    background-image: url('../images/backgrounds/c_image.jpg');
    background-size: cover;
    background-position: cover;
    width: 100%;
    max-width: 100%;
    margin-top: 10%;
}
.footer {
    margin-top: 30px;
}
.form-cont {
    text-align: center;
    position: relative;
    width: 700px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
}
::placeholder,
.con {
    color: #fff;
}
::placeholder{
    font-size: 10px;
}
.con {
    padding-bottom: 30px;
}
.what {
    margin-bottom: 30px;
}
#meso {
    background-color: transparent;
}
.social img {
    border-radius: 50%;
    transition: 0.2s ease-out;
}
.social img:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0);
    margin: -3px;
    padding: 3px;
    background: yellowgreen;
}
#portfolio img {
    width: 100%;
}
.card {
    margin: 10px 0;
    position: relative;
    overflow: hidden;
}
.card:hover img {
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.card-1 {
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: rgba(0, 0, 0, 0.582);
    cursor: pointer;
    display: none;
    transition: all 0.5s ease;
}
.ptag {
    padding: 5% 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.301);
    padding: 50px 10px;
    font-weight: 100%;
    padding-top: 30px;
    border: 4px solid whitesmoke;
    font-size: 1.1em;
    line-height: 90%;
    margin: 20% 5%;
    overflow: hidden;
    letter-spacing: 2px;
    font-family: 'Merienda', cursive;
}

